/* click-colorscheme*/
/*
$appbackground: #000;
$lightColor: #363636;
$click-light: #000;
$click-medium: #ffc000;
$click-dark: #000;
$click-white: #ffc000;
$click-font: "Titillium Web", sans-serif;
*/
//$background-dark:#000;
//$background-light:#00a3e0;
//$appbackground-dark:#000;
//$appbackground-light:;
//$border-dark:#ffc000;
//$border-light:;
//$text-light:;
//$text-dark:#ffc000;
//$medium-dark:;


$appbackground:#fff;
$lightColor: #dadada;
$click-light: #00a3e0;
$click-medium: #003b5c;
$click-dark: #363636;
$click-white: #fff;
$click-font: "Titillium Web", sans-serif;

/* fb-scheme*/
$fb-light: #ffc000;
$fb-medium: #f4f4f4;
$fb-dark: #000;
$fb-white: #fff;
$fb-font: "Dosis", sans-serif;

$myTextColor: #333;
$mediumColor: #d0ffff;
$darkColor: #333;
