/* Utilities */

//Container
.container {
  position: relative; // so I can position darkmode icons absolute
  max-width: 750px;
  min-height: 50vh;
  margin: 5vh auto;
}

// Buttons
.btn {
  background: var(--click-light);
  border: 1px solid var(--click-white);
  border-radius: 5px;
  color: var(--click-white);
  cursor: pointer;
  font-family: var(--click-font);
  font-size: 1.1rem;
  margin: 5px;
  padding: 2px 5px;
  width: 120px;
  height: 35px;
}
.btn.hide {
  visibility: hidden;
}

.btn-icon {
  width: 35px;
  height: 35px;
}

.btn:hover {
  background: var(--click-light);
  border: 1px solid var(--click-medium);
  color: var(--click-medium);
}

[color-theme="dark"] .btn:hover {
  background: var(--click-medium);
  border: 1px solid var(--click-medium);
  color: var(--click-light);
}

.btn-check:hover {
  background: green;
}

.btn-edit:hover {
  background: yellow;
}

.btn-trash:hover {
  background: red;
}

.btn:focus,
.btn:active {
  outline: none; //remove annoying default borders
}
