/* CSS - Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.15s ease;
}

.background {
  color: var(--click-medium);
  background: var(--click-light);
  font-family: var(--click-font);
  font-size: 1.4rem;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;

  --appbackground: #fff;
  --lightColor: #dadada;
  --click-light: #00a3e0;
  --click-medium: #003b5c;
  --click-dark: #363636;
  --click-white: #fff;
  --click-font: "Titillium Web", sans-serif;
}
.background[data-theme="dark"] {
  color: var(--click-medium);
  background: var(--click-light);
  font-family: var(--click-font);
  font-size: 1.4rem;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;

  --appbackground: #000;
  --lightColor: #363636;
  --click-light: #000;
  --click-medium: #ffc000;
  --click-dark: #000;
  --click-white: #ffc000;
  //--click-font: "Dosis", sans-serif;
}

/* Utilities */
.container {
  position: relative;
  max-width: 750px;
  min-height: 50vh;
  margin: 5vh auto;
}

.btn {
  background: var(--click-light);
  border: 1px solid var(--click-white);
  border-radius: 5px;
  color: var(--click-white);
  cursor: pointer;
  font-family: var(--click-font);
  font-size: 1.1rem;
  margin: 5px;
  padding: 2px 5px;
}

.btn:hover {
  background: var(--click-light);
  border: 1px solid var(--click-medium);
  color: var(--click-medium);
}

.btn:focus,
.btn:active {
  outline: none;
}

/* Application Container */
.app-container {
  background: var(--appbackground);
  border: 2px solid var(--click-medium);
  border-radius: 10px;
  margin: 0 5px;
  padding: 25px;
  text-align: center;
}

/* Input Area */
.todoinput {
  margin: 10px 0;
  width: 100%;

  input {
    background: var(--appbackground);
    border: var(--click-medium) 2px solid;
    border-radius: 10px;
    color: var(--click-medium);
    font-family: var(--click-font);
    font-size: 1.1rem;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }
  input::placeholder {
    color: var(--click-medium);
    font-family: var(--click-font);
    font-size: 1.1rem;
  }
  input:focus {
    border: var(--click-light) 2px solid;
    outline: none;
  }
}

.todoliste {
  background-color: var(--appbackground);
  border: var(--click-medium) 2px solid;
  border-radius: 10px;
  min-height: 80px;
  text-align: center;
  width: 100%;

  h4 {
    line-height: 80px;
  }
}

/* Todo Items*/
.todoitem {
  align-items: center;
  background: var(--lightColor);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  overflow: hidden;
  padding: 3px 10px;
  text-align: center;

  .item-title {
    flex-grow: 2;
    padding: 0 10px;
    text-align: left;
  }

  .done {
    text-decoration: line-through;
  }

  .buttons {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

/* Darkmode Button */
.themechange {
  //width: 50px;
  font-size: smaller;
  position: absolute;
  right: 20px;
  top: 10px;
  display: inline-flex;
  text-align: right;
  align-items: center;
  vertical-align: middle;
  color: var(--click-medium);
}

#themechanger {
  height: 20px;
  width: 20px;
  background-color: var(--click-dark);
  border: 2px solid var(--click-medium);
  border-radius: 50%;
  cursor: pointer;
}

/* Smartphones, display buttons underneath todo-text*/
@media (max-width: 500px) {
  .todoitem {
    display: flex;
    flex-direction: column;

    .item-title {
      text-align: center;
    }
  }
}
