@import "config";
@import "todoitem";
@import "utilities";

/* CSS - Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $click-medium;
}

/* General */
body {
  font-family: $click-font;
  background: $click-light;
  font-size: 1.4rem;
}

/* Application Container */
.app-container {
  background: $appbackground;
  margin: 0 5px;
  padding: 25px;
  border: 2px solid $click-medium;
  border-radius: 10px;
  text-align: center;
}

/* Input Area */
.todoinput {
  margin: 10px 0;
  width: 100%;

  input {
    color: $click-medium;
    background: $appbackground;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: $click-medium 2px solid;
    border-radius: 10px;
    font-family: $click-font;
    font-size: 1.1rem;
  }
  input::placeholder {
    color: $click-medium;
    font-family: $click-font;
    font-size: 1.1rem;
  }
  input:focus {
    border: $click-light 2px solid;
    outline: none;
  }
}

.todoliste {
  background-color: $appbackground;
  min-height: 80px;
  width: 100%;
  border: $click-medium 2px solid;
  border-radius: 10px;
  text-align: center;

  h3 {
    line-height: 80px;
  }
}

/* Todo Items*/
.todoitem {
  background: $lightColor;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px;
  padding: 3px 10px;
  border-radius: 10px;
  align-items: center;
  overflow: hidden;

  .item-title {
    text-align: left;
    flex-grow: 2;
    padding: 0 10px;
  }

  .done {
    text-decoration: line-through;
  }

  .buttons {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

/* Smartphones, display buttons underneath todo-text*/
@media (max-width: 500px) {
  .todoitem {
    display: flex;
    flex-direction: column;

    .item-title {
      text-align: center;
    }
  }
}
