@import "config";
@import "utilities";
@import "todoitem";
@import "todoinput";

// CSS - Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--click-font);
}

// Background and Color Themes
.background {
  //font-size: 1.4rem;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;

  background: var(--click-light);
  color: var(--click-medium);
}

/* Application Container */
.list-container {
  background: var(--appbackground);
  border: 2px solid var(--click-medium);
  border-radius: 10px;
  margin: 0 5px;
  padding: 25px;
  text-align: center;
}

.todo-list {
  background-color: var(--appbackground);
  border: var(--click-medium) 2px solid;
  border-radius: 10px;
  min-height: 80px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;

  h4 {
    line-height: 80px;
  }
}

/* Darkmode Button */
#themechange {
  position: absolute;
  right: 20px;
  top: 10px;
  color: var(--click-medium);
  cursor: pointer;
}

/* Smartphones, display buttons underneath todo-text*/
@media (max-width: 500px) {
  .todoitem {
    display: flex;
    flex-direction: column;

    .item-title {
      text-align: center;
    }
  }
}
